{
  "openapi" : "3.0.0",
  "info" : {
    "contact" : {
      "email" : "openwealth@synpulse.com"
    },
    "description" : "This API is part of the OpenWealth APIs for the connectivity between custody banks and WealthTechs (e.g. Portfolio Management Systems). This API allows the user to receive data from custody banks regarding accounts and positions. The API is designed to be used for either update end of day data batches or single near-realtime account/position information. Furthermore, this API allows the user to receive data from custody banks regarding transactions. In this version (2.0) only transactions which include effective cash or securities movements are in scope and corporate actions without any cash impact are delivered only on a informative basis.\n",
    "license" : {
      "name" : "Apache 2.0",
      "url" : "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "title" : "Custody Services",
    "version" : "3.0.0"
  },
  "externalDocs" : {
    "description" : "Find out more about OpenWealth API specifications.",
    "url" : "https://openwealth.ch"
  },
  "servers" : [ {
    "description" : "Your Server URL",
    "url" : "https://api.openwealth.ch"
  } ],
  "tags" : [ {
    "description" : "Accounts operations.",
    "name" : "accounts"
  }, {
    "description" : "Customer operations.",
    "name" : "customers"
  }, {
    "description" : "Position operations.",
    "name" : "positions"
  }, {
    "description" : "Transaction operations.",
    "name" : "transactions"
  } ],
  "paths" : {
    "/customers" : {
      "get" : {
        "description" : "This endpoint returns a highlevel list of customers accessible for the logged in user. Paging is done based on the customer object, i.e. if limit is set to 1, then 1 customer will be returned per page.\n",
        "operationId" : "getCustomers",
        "parameters" : [ {
          "description" : "An opaque string value used for pagination.",
          "explode" : true,
          "in" : "query",
          "name" : "cursor",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to return.",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Unique ID (defined by the caller) which will be reflected back in the response.",
          "explode" : false,
          "in" : "header",
          "name" : "X-Correlation-ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/Customer"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "Returns a list with all customers.",
            "headers" : {
              "X-Correlation-ID" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              },
              "nextCursor" : {
                "$ref" : "#/components/headers/X-Next-Cursor"
              }
            }
          },
          "400" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Bad Request - The server cannot or will not process the request due to something that is perceived to be a client error as malformed request syntax.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "401" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Unauthorized - The request has not been applied because it lacks valid authentication credentials for the target resource.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "403" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Forbidden - The server understood the request but refuses to authorize it.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "404" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Found - The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "405" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Method Not Allowed - The method received in the request-line is known by the origin server but not supported by the target resource.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "500" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "501" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Implemented - The server does not support the functionality required to fulfill the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "503" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Service Unavailable - The server is currently unable to handle the request due to a temporary overload or scheduled maintenance.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          }
        },
        "summary" : "Returns all customers (business partners) accessible for the logged in user",
        "tags" : [ "customers" ]
      }
    },
    "/customers/{customerId}" : {
      "get" : {
        "description" : "This endpoint returns a single customer.",
        "operationId" : "getCustomersByCustomerId",
        "parameters" : [ {
          "description" : "Customer ID Parameter.",
          "explode" : false,
          "in" : "path",
          "name" : "customerId",
          "required" : true,
          "schema" : {
            "description" : "Unique and unambiguous identification used by the bank for the customer.",
            "example" : "123123-456",
            "maxLength" : 128,
            "minLength" : 1,
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique ID (defined by the caller) which will be reflected back in the response.",
          "explode" : false,
          "in" : "header",
          "name" : "X-Correlation-ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Customer"
                }
              }
            },
            "description" : "Returns a the specified customer.",
            "headers" : {
              "X-Correlation-ID" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "400" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Bad Request - The server cannot or will not process the request due to something that is perceived to be a client error as malformed request syntax.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "401" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Unauthorized - The request has not been applied because it lacks valid authentication credentials for the target resource.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "403" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Forbidden - The server understood the request but refuses to authorize it.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "404" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Found - The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "405" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Method Not Allowed - The method received in the request-line is known by the origin server but not supported by the target resource.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "500" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "501" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Implemented - The server does not support the functionality required to fulfill the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "503" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Service Unavailable - The server is currently unable to handle the request due to a temporary overload or scheduled maintenance.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          }
        },
        "summary" : "Returns a specific customer accessible for the logged in user",
        "tags" : [ "customers" ]
      }
    },
    "/customers/{customerId}/accounts" : {
      "get" : {
        "description" : "Returns all accounts for a specific customer. Paging is done based on the account object, i.e. if limit is set to 1, then 1 account will be returned per page.\n",
        "operationId" : "getCustomerAccountsByCustomerId",
        "parameters" : [ {
          "description" : "Customer ID Parameter.",
          "explode" : false,
          "in" : "path",
          "name" : "customerId",
          "required" : true,
          "schema" : {
            "description" : "Unique and unambiguous identification used by the bank for the customer.",
            "example" : "123123-456",
            "maxLength" : 128,
            "minLength" : 1,
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "An opaque string value used for pagination.",
          "explode" : true,
          "in" : "query",
          "name" : "cursor",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to return.",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Unique ID (defined by the caller) which will be reflected back in the response.",
          "explode" : false,
          "in" : "header",
          "name" : "X-Correlation-ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/Account"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "Account List",
            "headers" : {
              "X-Correlation-ID" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              },
              "nextCursor" : {
                "$ref" : "#/components/headers/X-Next-Cursor"
              }
            }
          },
          "400" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Bad Request - The server cannot or will not process the request due to something that is perceived to be a client error as malformed request syntax.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "401" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Unauthorized - The request has not been applied because it lacks valid authentication credentials for the target resource.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "403" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Forbidden - The server understood the request but refuses to authorize it.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "404" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Found - The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "405" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Method Not Allowed - The method received in the request-line is known by the origin server but not supported by the target resource.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "500" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "501" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Implemented - The server does not support the functionality required to fulfill the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "503" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Service Unavailable - The server is currently unable to handle the request due to a temporary overload or scheduled maintenance.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          }
        },
        "summary" : "Returns the accounts for a specific customer accessible to the querying user",
        "tags" : [ "accounts" ]
      }
    },
    "/customers/{customerId}/accounts/{accountId}" : {
      "get" : {
        "description" : "Returns an account by id for a specific customer.",
        "operationId" : "getCustomerAccountById",
        "parameters" : [ {
          "description" : "Customer ID Parameter.",
          "explode" : false,
          "in" : "path",
          "name" : "customerId",
          "required" : true,
          "schema" : {
            "description" : "Unique and unambiguous identification used by the bank for the customer.",
            "example" : "123123-456",
            "maxLength" : 128,
            "minLength" : 1,
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Account ID parameter.",
          "explode" : false,
          "in" : "path",
          "name" : "accountId",
          "required" : true,
          "schema" : {
            "description" : "The customer's account identification, this should NOT be an IBAN.",
            "maxLength" : 128,
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Indicates if the resources (positions & transactions) have been confirmed by the end-of-day (eod) processing.\n- If the parameter is not set, all resources will be delivered.\n- If the parameter is set to true, only resources with with the particular property set to true will be delivered.\n- If the parameter is set to false, only resources with with the particular property set to false will be delivered.\n",
          "explode" : true,
          "in" : "query",
          "name" : "end_of_day_indicator",
          "required" : false,
          "schema" : {
            "example" : true,
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Unique ID (defined by the caller) which will be reflected back in the response.",
          "explode" : false,
          "in" : "header",
          "name" : "X-Correlation-ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account"
                }
              }
            },
            "description" : "Account",
            "headers" : {
              "X-Correlation-ID" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              },
              "nextCursor" : {
                "$ref" : "#/components/headers/X-Next-Cursor"
              }
            }
          },
          "400" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Bad Request - The server cannot or will not process the request due to something that is perceived to be a client error as malformed request syntax.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "401" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Unauthorized - The request has not been applied because it lacks valid authentication credentials for the target resource.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "403" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Forbidden - The server understood the request but refuses to authorize it.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "404" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Found - The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "405" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Method Not Allowed - The method received in the request-line is known by the origin server but not supported by the target resource.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "500" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "501" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Implemented - The server does not support the functionality required to fulfill the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "503" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Service Unavailable - The server is currently unable to handle the request due to a temporary overload or scheduled maintenance.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          }
        },
        "summary" : "Returns an account by id for a specific customer",
        "tags" : [ "accounts" ]
      }
    },
    "/customers/{customerId}/positions" : {
      "get" : {
        "description" : "Returns all positions for a specific customer. Paging is done based on the position object, i.e. if limit is set to 1, then 1 position will be returned per page.\n",
        "operationId" : "getCustomerPositionByCustomerId",
        "parameters" : [ {
          "description" : "Customer ID Parameter.",
          "explode" : false,
          "in" : "path",
          "name" : "customerId",
          "required" : true,
          "schema" : {
            "description" : "Unique and unambiguous identification used by the bank for the customer.",
            "example" : "123123-456",
            "maxLength" : 128,
            "minLength" : 1,
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "A date value.",
          "explode" : true,
          "in" : "query",
          "name" : "date",
          "required" : true,
          "schema" : {
            "description" : "Full-date according to ISO 8601 i.e. YYYY-MM-DD format.",
            "example" : "2019-12-31",
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Indicates if the resources (positions & transactions) have been confirmed by the end-of-day (eod) processing.\n- If the parameter is not set, all resources will be delivered.\n- If the parameter is set to true, only resources with with the particular property set to true will be delivered.\n- If the parameter is set to false, only resources with with the particular property set to false will be delivered.\n",
          "explode" : true,
          "in" : "query",
          "name" : "end_of_day_indicator",
          "required" : false,
          "schema" : {
            "example" : true,
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "An opaque string value used for pagination.",
          "explode" : true,
          "in" : "query",
          "name" : "cursor",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to return.",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Unique ID (defined by the caller) which will be reflected back in the response.",
          "explode" : false,
          "in" : "header",
          "name" : "X-Correlation-ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/ValuatedPosition"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "Position List",
            "headers" : {
              "X-Correlation-ID" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              },
              "nextCursor" : {
                "$ref" : "#/components/headers/X-Next-Cursor"
              }
            }
          },
          "400" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Bad Request - The server cannot or will not process the request due to something that is perceived to be a client error as malformed request syntax.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "401" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Unauthorized - The request has not been applied because it lacks valid authentication credentials for the target resource.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "403" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Forbidden - The server understood the request but refuses to authorize it.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "404" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Found - The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "405" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Method Not Allowed - The method received in the request-line is known by the origin server but not supported by the target resource.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "500" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "501" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Implemented - The server does not support the functionality required to fulfill the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "503" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Service Unavailable - The server is currently unable to handle the request due to a temporary overload or scheduled maintenance.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          }
        },
        "summary" : "Returns the positions for a specific customer",
        "tags" : [ "positions" ]
      }
    },
    "/customers/{customerId}/positions/{positionId}" : {
      "get" : {
        "description" : "Returns a positions for a specific customer.",
        "operationId" : "getCustomerPositionById",
        "parameters" : [ {
          "description" : "Customer ID Parameter.",
          "explode" : false,
          "in" : "path",
          "name" : "customerId",
          "required" : true,
          "schema" : {
            "description" : "Unique and unambiguous identification used by the bank for the customer.",
            "example" : "123123-456",
            "maxLength" : 128,
            "minLength" : 1,
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Position ID parameter.",
          "explode" : false,
          "in" : "path",
          "name" : "positionId",
          "required" : true,
          "schema" : {
            "description" : "Identification for the position given by the bank.",
            "example" : "1234566-12-1",
            "maxLength" : 128,
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Indicates if the resources (positions & transactions) have been confirmed by the end-of-day (eod) processing.\n- If the parameter is not set, all resources will be delivered.\n- If the parameter is set to true, only resources with with the particular property set to true will be delivered.\n- If the parameter is set to false, only resources with with the particular property set to false will be delivered.\n",
          "explode" : true,
          "in" : "query",
          "name" : "end_of_day_indicator",
          "required" : false,
          "schema" : {
            "example" : true,
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Unique ID (defined by the caller) which will be reflected back in the response.",
          "explode" : false,
          "in" : "header",
          "name" : "X-Correlation-ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ValuatedPosition"
                }
              }
            },
            "description" : "Position",
            "headers" : {
              "X-Correlation-ID" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "400" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Bad Request - The server cannot or will not process the request due to something that is perceived to be a client error as malformed request syntax.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "401" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Unauthorized - The request has not been applied because it lacks valid authentication credentials for the target resource.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "403" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Forbidden - The server understood the request but refuses to authorize it.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "404" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Found - The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "405" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Method Not Allowed - The method received in the request-line is known by the origin server but not supported by the target resource.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "500" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "501" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Implemented - The server does not support the functionality required to fulfill the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "503" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Service Unavailable - The server is currently unable to handle the request due to a temporary overload or scheduled maintenance.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          }
        },
        "summary" : "Returns a positions by id for a specific customer",
        "tags" : [ "positions" ]
      }
    },
    "/accounts/{accountId}/positions" : {
      "get" : {
        "description" : "Returns all positions for a specific account. Paging is done based on the position object, i.e. if limit is set to 1, then 1 position will be returned per page.\n",
        "operationId" : "getAccountPositionByAccountId",
        "parameters" : [ {
          "description" : "Account ID parameter.",
          "explode" : false,
          "in" : "path",
          "name" : "accountId",
          "required" : true,
          "schema" : {
            "description" : "The customer's account identification, this should NOT be an IBAN.",
            "maxLength" : 128,
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "A date value.",
          "explode" : true,
          "in" : "query",
          "name" : "date",
          "required" : true,
          "schema" : {
            "description" : "Full-date according to ISO 8601 i.e. YYYY-MM-DD format.",
            "example" : "2019-12-31",
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Indicates if the resources (positions & transactions) have been confirmed by the end-of-day (eod) processing.\n- If the parameter is not set, all resources will be delivered.\n- If the parameter is set to true, only resources with with the particular property set to true will be delivered.\n- If the parameter is set to false, only resources with with the particular property set to false will be delivered.\n",
          "explode" : true,
          "in" : "query",
          "name" : "end_of_day_indicator",
          "required" : false,
          "schema" : {
            "example" : true,
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "An opaque string value used for pagination.",
          "explode" : true,
          "in" : "query",
          "name" : "cursor",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to return.",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Unique ID (defined by the caller) which will be reflected back in the response.",
          "explode" : false,
          "in" : "header",
          "name" : "X-Correlation-ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/ValuatedPosition"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "Position List",
            "headers" : {
              "X-Correlation-ID" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              },
              "nextCursor" : {
                "$ref" : "#/components/headers/X-Next-Cursor"
              }
            }
          },
          "400" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Bad Request - The server cannot or will not process the request due to something that is perceived to be a client error as malformed request syntax.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "401" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Unauthorized - The request has not been applied because it lacks valid authentication credentials for the target resource.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "403" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Forbidden - The server understood the request but refuses to authorize it.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "404" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Found - The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "405" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Method Not Allowed - The method received in the request-line is known by the origin server but not supported by the target resource.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "500" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "501" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Implemented - The server does not support the functionality required to fulfill the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "503" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Service Unavailable - The server is currently unable to handle the request due to a temporary overload or scheduled maintenance.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          }
        },
        "summary" : "Returns the positions for a specific account",
        "tags" : [ "positions" ]
      }
    },
    "/accounts/{accountId}/positions/{positionId}" : {
      "get" : {
        "description" : "Returns a positions for a specific account.",
        "operationId" : "getAccountPositionById",
        "parameters" : [ {
          "description" : "Account ID parameter.",
          "explode" : false,
          "in" : "path",
          "name" : "accountId",
          "required" : true,
          "schema" : {
            "description" : "The customer's account identification, this should NOT be an IBAN.",
            "maxLength" : 128,
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Position ID parameter.",
          "explode" : false,
          "in" : "path",
          "name" : "positionId",
          "required" : true,
          "schema" : {
            "description" : "Identification for the position given by the bank.",
            "example" : "1234566-12-1",
            "maxLength" : 128,
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Indicates if the resources (positions & transactions) have been confirmed by the end-of-day (eod) processing.\n- If the parameter is not set, all resources will be delivered.\n- If the parameter is set to true, only resources with with the particular property set to true will be delivered.\n- If the parameter is set to false, only resources with with the particular property set to false will be delivered.\n",
          "explode" : true,
          "in" : "query",
          "name" : "end_of_day_indicator",
          "required" : false,
          "schema" : {
            "example" : true,
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Unique ID (defined by the caller) which will be reflected back in the response.",
          "explode" : false,
          "in" : "header",
          "name" : "X-Correlation-ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ValuatedPosition"
                }
              }
            },
            "description" : "Position",
            "headers" : {
              "X-Correlation-ID" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "400" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Bad Request - The server cannot or will not process the request due to something that is perceived to be a client error as malformed request syntax.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "401" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Unauthorized - The request has not been applied because it lacks valid authentication credentials for the target resource.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "403" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Forbidden - The server understood the request but refuses to authorize it.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "404" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Found - The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "405" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Method Not Allowed - The method received in the request-line is known by the origin server but not supported by the target resource.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "500" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "501" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Implemented - The server does not support the functionality required to fulfill the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "503" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Service Unavailable - The server is currently unable to handle the request due to a temporary overload or scheduled maintenance.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          }
        },
        "summary" : "Returns a positions by id for a specific account",
        "tags" : [ "positions" ]
      }
    },
    "/customers/{customerId}/transactions" : {
      "get" : {
        "description" : "Returns all transactions for the a specific customer. Paging is done based on the transaction object, i.e. if limit is set to 1, then 1 transaction will be returned per page.\n",
        "operationId" : "getTransactionByCustomerId",
        "parameters" : [ {
          "description" : "Customer ID Parameter.",
          "explode" : false,
          "in" : "path",
          "name" : "customerId",
          "required" : true,
          "schema" : {
            "description" : "Unique and unambiguous identification used by the bank for the customer.",
            "example" : "123123-456",
            "maxLength" : 128,
            "minLength" : 1,
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "A date value.",
          "explode" : true,
          "in" : "query",
          "name" : "date",
          "required" : true,
          "schema" : {
            "description" : "Full-date according to ISO 8601 i.e. YYYY-MM-DD format.",
            "example" : "2019-12-31",
            "format" : "date",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Indicates if the resources (positions & transactions) have been confirmed by the end-of-day (eod) processing.\n- If the parameter is not set, all resources will be delivered.\n- If the parameter is set to true, only resources with with the particular property set to true will be delivered.\n- If the parameter is set to false, only resources with with the particular property set to false will be delivered.\n",
          "explode" : true,
          "in" : "query",
          "name" : "end_of_day_indicator",
          "required" : false,
          "schema" : {
            "example" : true,
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "An opaque string value used for pagination.",
          "explode" : true,
          "in" : "query",
          "name" : "cursor",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Maximum number of items to return.",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Unique ID (defined by the caller) which will be reflected back in the response.",
          "explode" : false,
          "in" : "header",
          "name" : "X-Correlation-ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/Transaction"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "Returns a transaction list for a specific customer.",
            "headers" : {
              "X-Correlation-ID" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              },
              "nextCursor" : {
                "$ref" : "#/components/headers/X-Next-Cursor"
              }
            }
          },
          "400" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Bad Request - The server cannot or will not process the request due to something that is perceived to be a client error as malformed request syntax.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "401" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Unauthorized - The request has not been applied because it lacks valid authentication credentials for the target resource.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "403" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Forbidden - The server understood the request but refuses to authorize it.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "404" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Found - The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "405" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Method Not Allowed - The method received in the request-line is known by the origin server but not supported by the target resource.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "500" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "501" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Implemented - The server does not support the functionality required to fulfill the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "503" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Service Unavailable - The server is currently unable to handle the request due to a temporary overload or scheduled maintenance.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          }
        },
        "summary" : "Returns a transactions for a specific customer",
        "tags" : [ "transactions" ]
      }
    },
    "/customers/{customerId}/transactions/{transactionId}" : {
      "get" : {
        "description" : "Returns a transaction instance by id.",
        "operationId" : "getTransactionByTransactionId",
        "parameters" : [ {
          "description" : "Customer ID Parameter.",
          "explode" : false,
          "in" : "path",
          "name" : "customerId",
          "required" : true,
          "schema" : {
            "description" : "Unique and unambiguous identification used by the bank for the customer.",
            "example" : "123123-456",
            "maxLength" : 128,
            "minLength" : 1,
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Transaction ID.",
          "explode" : false,
          "in" : "path",
          "name" : "transactionId",
          "required" : true,
          "schema" : {
            "description" : "Identification for the transaction given by the bank.",
            "example" : "1234566-12-7",
            "maxLength" : 128,
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Unique ID (defined by the caller) which will be reflected back in the response.",
          "explode" : false,
          "in" : "header",
          "name" : "X-Correlation-ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Transaction"
                }
              }
            },
            "description" : "Returns a transaction list for a specific customer.",
            "headers" : {
              "X-Correlation-ID" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "400" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Bad Request - The server cannot or will not process the request due to something that is perceived to be a client error as malformed request syntax.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "401" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Unauthorized - The request has not been applied because it lacks valid authentication credentials for the target resource.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "403" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Forbidden - The server understood the request but refuses to authorize it.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "404" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Found - The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "405" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Method Not Allowed - The method received in the request-line is known by the origin server but not supported by the target resource.\n",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "500" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Internal Server Error - The server encountered an unexpected condition that prevented it from fulfilling the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "501" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Not Implemented - The server does not support the functionality required to fulfill the request.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          },
          "503" : {
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonErrorResponse"
                }
              }
            },
            "description" : "Service Unavailable - The server is currently unable to handle the request due to a temporary overload or scheduled maintenance.",
            "headers" : {
              "Content-Type" : {
                "$ref" : "#/components/headers/Problem-Content-Type"
              },
              "Content-Language" : {
                "$ref" : "#/components/headers/Content-Language"
              },
              "X-Correlation-Id" : {
                "$ref" : "#/components/headers/X-Correlation-Id"
              }
            }
          }
        },
        "summary" : "Returns a transaction for a specific customer",
        "tags" : [ "transactions" ]
      }
    }
  },
  "components" : {
    "headers" : {
      "X-Correlation-Id" : {
        "description" : "Client defined ID from request to correlates HTTP requests between a client and server.",
        "explode" : false,
        "schema" : {
          "example" : "f058ebd6-02f7-4d3f-942e-904344e8cde5",
          "type" : "string"
        },
        "style" : "simple"
      },
      "X-Next-Cursor" : {
        "description" : "An opaque string value, or an empty string if there are no more results.",
        "explode" : false,
        "required" : false,
        "schema" : {
          "type" : "string"
        },
        "style" : "simple"
      },
      "Problem-Content-Type" : {
        "description" : "application/problem+json; charset=utf-8 according to RFC7807.",
        "explode" : false,
        "schema" : {
          "example" : "application/problem+json",
          "type" : "string"
        },
        "style" : "simple"
      },
      "Content-Language" : {
        "description" : "Response language - always en.",
        "explode" : false,
        "schema" : {
          "example" : "en",
          "type" : "string"
        },
        "style" : "simple"
      }
    },
    "parameters" : {
      "path_customerId" : {
        "description" : "Customer ID Parameter.",
        "explode" : false,
        "in" : "path",
        "name" : "customerId",
        "required" : true,
        "schema" : {
          "description" : "Unique and unambiguous identification used by the bank for the customer.",
          "example" : "123123-456",
          "maxLength" : 128,
          "minLength" : 1,
          "type" : "string"
        },
        "style" : "simple"
      },
      "path_accountId" : {
        "description" : "Account ID parameter.",
        "explode" : false,
        "in" : "path",
        "name" : "accountId",
        "required" : true,
        "schema" : {
          "description" : "The customer's account identification, this should NOT be an IBAN.",
          "maxLength" : 128,
          "type" : "string"
        },
        "style" : "simple"
      },
      "path_positionId" : {
        "description" : "Position ID parameter.",
        "explode" : false,
        "in" : "path",
        "name" : "positionId",
        "required" : true,
        "schema" : {
          "description" : "Identification for the position given by the bank.",
          "example" : "1234566-12-1",
          "maxLength" : 128,
          "type" : "string"
        },
        "style" : "simple"
      },
      "path_transactionId" : {
        "description" : "Transaction ID.",
        "explode" : false,
        "in" : "path",
        "name" : "transactionId",
        "required" : true,
        "schema" : {
          "description" : "Identification for the transaction given by the bank.",
          "example" : "1234566-12-7",
          "maxLength" : 128,
          "type" : "string"
        },
        "style" : "simple"
      },
      "cursor" : {
        "description" : "An opaque string value used for pagination.",
        "explode" : true,
        "in" : "query",
        "name" : "cursor",
        "required" : false,
        "schema" : {
          "type" : "string"
        },
        "style" : "form"
      },
      "limit" : {
        "description" : "Maximum number of items to return.",
        "explode" : true,
        "in" : "query",
        "name" : "limit",
        "required" : false,
        "schema" : {
          "format" : "int32",
          "minimum" : 1,
          "type" : "integer"
        },
        "style" : "form"
      },
      "end_of_day_indicator" : {
        "description" : "Indicates if the resources (positions & transactions) have been confirmed by the end-of-day (eod) processing.\n- If the parameter is not set, all resources will be delivered.\n- If the parameter is set to true, only resources with with the particular property set to true will be delivered.\n- If the parameter is set to false, only resources with with the particular property set to false will be delivered.\n",
        "explode" : true,
        "in" : "query",
        "name" : "end_of_day_indicator",
        "required" : false,
        "schema" : {
          "example" : true,
          "type" : "boolean"
        },
        "style" : "form"
      },
      "date" : {
        "description" : "A date value.",
        "explode" : true,
        "in" : "query",
        "name" : "date",
        "required" : true,
        "schema" : {
          "description" : "Full-date according to ISO 8601 i.e. YYYY-MM-DD format.",
          "example" : "2019-12-31",
          "format" : "date",
          "type" : "string"
        },
        "style" : "form"
      },
      "x_correlation_id_in_header" : {
        "description" : "Unique ID (defined by the caller) which will be reflected back in the response.",
        "explode" : false,
        "in" : "header",
        "name" : "X-Correlation-ID",
        "required" : true,
        "schema" : {
          "type" : "string"
        },
        "style" : "simple"
      }
    },
    "responses" : {
      "400" : {
        "content" : {
          "application/problem+json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CommonErrorResponse"
            }
          }
        },
        "description" : "Bad Request - The server cannot or will not process the request due to something that is perceived to be a client error as malformed request syntax.\n",
        "headers" : {
          "Content-Type" : {
            "$ref" : "#/components/headers/Problem-Content-Type"
          },
          "Content-Language" : {
            "$ref" : "#/components/headers/Content-Language"
          },
          "X-Correlation-Id" : {
            "$ref" : "#/components/headers/X-Correlation-Id"
          }
        }
      },
      "401" : {
        "content" : {
          "application/problem+json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CommonErrorResponse"
            }
          }
        },
        "description" : "Unauthorized - The request has not been applied because it lacks valid authentication credentials for the target resource.",
        "headers" : {
          "Content-Type" : {
            "$ref" : "#/components/headers/Problem-Content-Type"
          },
          "Content-Language" : {
            "$ref" : "#/components/headers/Content-Language"
          },
          "X-Correlation-Id" : {
            "$ref" : "#/components/headers/X-Correlation-Id"
          }
        }
      },
      "403" : {
        "content" : {
[...]
